@media (max-width: 600px) {
  .prompt {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
