@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.wrapper {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the prompt input and generate button */
.prompt {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
}

.btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
